<div class="k-block">
  <button kendoButton [look]="'default'" >Default Button</button>
  <button kendoButton [look]="'outline'" >Outline Button</button>
  <button kendoButton [look]="'bare'" >Bare Button</button>
  <button kendoButton [disabled]="true"> Button </button>
</div>


<kendo-buttongroup [width]="'100%'" look="outline">
  <button kendoButton [icon]="'check'" [toggleable]="true">Toggleable</button>
  <button kendoButton [icon]="'calendar'" [toggleable]="true">Events</button>
  <button kendoButton [icon]="'user'" [toggleable]="true">Events</button>
</kendo-buttongroup>
