<div>
  <h1>What good shall i do today</h1>
  <input kendoTextBox type="text"
    type="text"
    placeholder="Add a to-do item"
    class="new-todo-input"
    #itemInput
    (keyup.enter)="addTodo(itemInput)"/>
    <div *ngIf="todos" class="list-group">
      <button KendoButton type="button" class="todo" *ngFor="let todo of todos; index as i">
      <span (click)="removeTodo(i)">{{todo.item}}</span>
    </button>
    </div>

    <div *ngIf="todos.length == 0" class="finished"><strong>Finished</strong></div>
</div>
